@charset "UTF-8";

.mce-window .mce-opengraph {
  background-color: #FAFBFC;

  * {
    font-family: "Noto Sans DemiLight", AppleSDGothicNeo, "돋움", dotum, sans-serif;
    letter-spacing: -0.2px
  }

  .mce-opengraph-media, .mce-opengraph-source {
    position:absolute;
    top:0;
    bottom:56px;
    left:0;
    right:0;
  }

  .mce-opengraph-footer {
    position: absolute;
    bottom: -1px;
    height: 56px;
    left: 0;
    right: 0;
    background-color: #fff;
    border-top: 1px solid #E0E5EE;
  }
}

@import 'search-form';
@import 'opengraph';
@import 'source';
@import 'footer';
@import 'mode';
